.nav-trans{
  margin: auto;
  max-width: 980px;
  padding: 30px 20px;
  width: 100%;
}
.principal{
  height: 100px;
  left: 0;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 0;
  z-index: 1000;
}
.principal-2{
  height: 100px;
  left: 0;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  top: 0;
  z-index: 1000;
  background: #223a50f7;
  
}
.button-custom{
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  min-width: 110px;
  text-align: center;
  margin: 0px 20px;
}
.button-custom-2{
  border: 1px solid #FFF;
  background-color: #FFF;
  color: #0051c0;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  min-width: 110px;
  text-align: center
}
.navbar-nav{
  margin-left: 10%;
}
.navbar-dark .navbar-nav .nav-link{
  color: white !important ;
}
.navbar-dark .navbar-toggler {
  color: white !important;
}
.nav-link{
  margin: 0px 20px;
}
@media (max-width: 768px) {
  .principal-2{
   
    background: transparent;
  }
  .nav-trans{
    background: #223a50f7 ;
    padding: 0px 20px;
  }
  .navbar-nav{
    margin-left: 0%;
  }
  .button-custom{
    width: 200px;
    margin: 10px 0px;
  }
  .button-custom-2{
    width: 200px;
  }
  .nav-link{
    margin: 10px 0px;
  }
}
