.no-margin {
    margin: 0 !important;
}

.no-collapse-margin{
    display: inline-block;
}

.m-auto{
    margin: auto;
}

.mx-auto{
    margin: 0 auto;
}

@for $i from 1 through 20{
    .mt-#{$i*5}{
        margin-top: #{$i*5}px !important;
    }
    .mb-#{$i*5}{
        margin-bottom: #{$i*5}px !important;
    }
    .ml-#{$i*5}{
        margin-left: #{$i*5}px !important;
    }
    .mr-#{$i*5}{
        margin-right: #{$i*5}px !important;
    }
} 