.DeleteModal {
    padding: 30px 30px 20px;
}

.DeleteModal__Title {
    line-height: 1;
    margin-bottom: 10px;
    font-size: 26px;
    color: #212529;
}

.DeleteModal_Icon {
    font-size: inherit;
    display: inline-block;
    color: #0051c0;
    vertical-align: top;
    margin-right: 5px;
}

.DeleteModal__Description {
    font-weight: 100;
    font-size: 16px;
    margin-bottom: 25px;
}

.DeleteModal__Options {
    text-align: right;
}

.DeleteModal__Options .DeleteModal__Option {
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 0;
}

.DeleteModal__Options .DeleteModal__Option--Cancel {
    color: #0051c0;
    margin-right: 20px;
}

.DeleteModal__Options .DeleteModal__Option--Accept {
    color: #666666;
}