.flex-container{
    display: flex;
    justify-content: center;
}
.padding-form-profile{
    padding: 100px 70px;
}
.bg-relative{
    position: relative
}
.img-profile-circle{
    position: absolute;
    box-shadow: 0px 0px 10px 4px rgba(209,209,209,1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    top: 0%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); 
}
.img-profile-circle img{
    border-radius: 50%;
}