$primary-color: #0051c0;
$primary-color-lighter: #5a7cf3;
$primary-color-darker: #002a8f;

$accent-color: #67bc87;
$accent-color-lighter: #ffc153;
$accent-color-darker: #b96200;

$warn-color: #f44336;
$warn-lighter: #ff7961;
$warn-darker: #ba000d;

$secondary-color: #63a24a;
$secondary-color-lighter: #94d478;
$secondary-color-darker: #33731d;

$tertiary-color: #4c4c4c;

$black: #000;

$grey: #666666;
$grey-2: #b3b3b3;
$grey-3: #7c7c7c;
$global-color: #666666;