$namespace: 'wpy';
$font-size: 15px;
$font-avenir: 'Avenir';
$font-avenir-roman: 'AvenirRoman';
$font-primary: $font-avenir;
$global-line-height: 1.5;
$letter-spacing: -0.3px;

$input-placeholder-color: $grey-2;
$input-placeholder-font-size: 0.8em;

$btn-font-size: 1.05em;

$header1-font-size: 2em;
$header2-font-size: 1.8em;
$header3-font-size: 1.6em;
$header4-font-size: 1.4em;
$header5-font-size: 1.2em;
$header6-font-size: 1em;