.WithdrawPage {
    padding: 30px 20px;
    max-width: 960px;
}

.WithdrawSection {
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .WithdrawPage {
        padding: 70px 100px;
        max-width: 980px;
    }
}