.HeaderWithdrawPage {
    margin-bottom: 25px;
}

.HeaderWithdrawPage__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.HeaderWithdrawPage__right {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.HeaderWithdrawPage__img {
    width: 20px;
    display: block;
    margin-right: 12px;
}

.HeaderWithdrawPage__title {
    line-height: 1.1;
    font-size: 18px;
    color: #303030;
    font-weight: 600;
}

/* .HeaderPaymentPage__left {} */

@media screen and (min-width: 768px) {
    .HeaderWithdrawPage__right {
        display: flex;
        align-items: flex-end;
    }

    .HeaderWithdrawPage__img {
        width: 40px;
        margin-right: 15px;
    }

    .HeaderWithdrawPage__title {
        font-size: 24px;
    }
}