.box {
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(12, 12, 12, 0.03);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.box .box-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.box .box-title {
    color: #5291ea;
    font-size: 17px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 30px;
}

.box .count {
    text-align: center;
    font-size: 17px;
    margin-left: 25px;
    display: block;
    color: #0051c0;
}

.box .box-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.box .detail {
    margin-bottom: 5px;
}

.box .detail_efectivo{
    margin-top: 30px;
    font-size: 17px;
    color: #0052be;
}
.box .detail_title {
    display: inline-block;
    min-width: 250px;
}

.boleta-item {
    background: #e7f5fe;
    color: #75787a;
    font-size: 15px;
    border-radius: 7px;
    padding: 4px 0;
    margin-bottom: 10px;
}

.button_submit {
    background-color: #0052be;
    text-align: center;
    line-height: 1;
    outline: none;
    border: none;
    color: #fff;
    width: 150px;
    border-radius: 10px;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 8px 25px;
}

.button_submit:hover,
.button_submit:active {
    background: #0a61d4;
}

.button_clear {
    background: transparent;
    text-align: center;
    line-height: 1;
    outline: none;
    border: none;
    width: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto 10px;
    padding: 5px 15px;
}

.pt-12 {
    padding-top: 12px !important;
}

.t {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
}

.t th,
.t td {
    border: 0;
}

.t .t-header th {
    color: #303030;
    padding: 5px 20px 20px;
    margin-bottom: 5px;
    line-height: 1.1;
    font-size: 15px;
}

.t .t-body {
    vertical-align: middle;
}

.t .t-body td {
    letter-spacing: 0.2px;
    padding: 7px 20px;
    font-size: 15px;
    color: #545454;
    vertical-align: middle;
    line-height: 1;
}

.t .t-body tr:nth-child(odd) {
    background: #e7f5fe;
}

.t .t-body .t-border-start {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.t .t-body .t-border-end {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.fa-global .fa-container {
    display: inline-block;
    height: 18px;
}

.fa-global .fa-container:not(:last-child) {
    margin-right: 10px;
    height: 20px;
}

.fa-icon {
    font-size: 18px !important;
    cursor: pointer;
}

.fa-b-icon {
    margin-right: 5px;
    vertical-align: middle;
    font-size: 18px !important;
}

.subtitle-c {
    color: #525252;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 17px;
}

.mt-xg {
    margin-top: 50px;
}

.mt-g {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .box {
        padding: 40px;
    }

    .box .box-title {
        font-size: 18px;
    }

    .box .box-count {
        text-align: left;
        font-size: 18px;
    }

    .boleta-item {
        font-size: 16px;
    }

    .box-2 {
        padding: 30px 40px;
    }

    .t .t-header th {
        padding: 5px 20px 20px;
        font-size: 15px;
    }

    .t .t-body td {
        font-size: 15px;
    }
}