@import '~@angular/material/theming';
@include mat-core();

$mat-vet-primary: (
  50: $secondary-color,
  100: $secondary-color,
  200: $secondary-color,
  300: $secondary-color,
  400: $secondary-color,
  500: $secondary-color,
  600: $secondary-color-lighter,
  700: $secondary-color,
  800: $secondary-color-darker,
  900: $secondary-color,
  A100: $secondary-color,
  A200: $secondary-color,
  A400: $secondary-color,
  A700: $secondary-color,
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $white-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
    // 50: $black-87-opacity,
    // 100: $black-87-opacity,
    // 200: $black-87-opacity,
    // 300: $black-87-opacity,
    // 400: $black-87-opacity,
    // 500: $black-87-opacity,
    // 600: $black-87-opacity,
    // 700: $black-87-opacity,
    // 800: $black-87-opacity,
    // 900: $black-87-opacity,
    // A100: $black-87-opacity,
    // A200: $black-87-opacity,
    // A400: $black-87-opacity,
    // A700: $black-87-opacity,
  )
);

$mat-vet-accent: (
  50: $accent-color,
  100: $accent-color,
  200: $accent-color,
  300: $accent-color,
  400: $accent-color-lighter,
  500: $accent-color,
  600: $accent-color-darker,
  700: $accent-color,
  800: $accent-color,
  900: $accent-color,
  A100: $accent-color,
  A200: $accent-color,
  A400: $accent-color,
  A700: $accent-color,
  contrast: (
    50: $white-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $white-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

// $mat-vet-warn: $mat-red;
$mat-vet-warn: (
  50: $red,
  100: $red,
  200: $red,
  300: $red,
  400: $red,
  500: $red,
  600: $red-lighter,
  700: $red,
  800: $red-darker,
  900: $red,
  A100: $red,
  A200: $red,
  A400: $red,
  A700: $red,
  contrast: (
    // 50: $white-87-opacity,
    // 100: $white-87-opacity,
    // 200: $white-87-opacity,
    // 300: $white-87-opacity,
    // 400: $white-87-opacity,
    // 500: $white-87-opacity,
    // 600: $white-87-opacity,
    // 700: $white-87-opacity,
    // 800: $white-87-opacity,
    // 900: $white-87-opacity,
    // A100: $white-87-opacity,
    // A200: $white-87-opacity,
    // A400: $white-87-opacity,
    // A700: $white-87-opacity,
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $black-87-opacity,
    600: $black-87-opacity,
    700: $black-87-opacity,
    800: $black-87-opacity,
    900: $black-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$vet-app-primary: mat-palette($mat-vet-primary, 700);
$vet-app-accent:  mat-palette($mat-vet-accent);
$vet-app-warn:  mat-palette($mat-vet-warn);

$vet-app-theme: mat-light-theme($vet-app-primary, $vet-app-accent, $vet-app-warn);

@include angular-material-theme($vet-app-theme);