.spinner-logo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner-logo img{
    margin-right: 20px;
}

.spinner-logo-mobile img{
    display: none;
}
@media (max-width: 425px) {
    .spinner-logo-mobile {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        text-align: center;
    }
    .spinner-logo-mobile img{
        margin-right: 20px;
        display: block;

    }
    .spinner-logo{
        display: none;
        margin-right: 40px;

    }
    
    .asd{
        padding-left: 50px;
    }

  }