@media (max-width: 425px) {
    .footer__content{
        display: block !important;
        padding-left: 20px !important;
    }
    .gOdcnG .footer__section *:first-child, .gOdcnG .footer__section p{
        margin-bottom: 15px;
    }
    .footer__section{
        margin-bottom: 30px;
    }
}