.FormWithdraw {}

.FormWithdraw .FormWithdraw__title {
    color: #5291ea;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 30px;
}

.margin-rf {
    margin-right: 60px;
}

.s-message {
    margin-top: 5px;
    font-size: 13px;
    color: #5291ea;
}

.data-info {
    display: inline-block;
    min-width: 140px;
    color: #0052be;
}

.form-row-2 {}