.button-select-profile{
    display: none;
}
@media (max-width: 425px) {
    .kcZPRH .right{
        display: none;
    }
    .eLKFHh .left{
        flex: 0 0 100% !important; 
        padding-left:50px;
        padding-right: 50px;
        text-align: -webkit-center !important; 
    }
    .kcZPRH{
        background-image: none;
    }
    .kcZPRH .left{
        flex: 0 0 100%;
        padding-left:20px;
        padding-right: 20px;
        text-align: center; 
    }
    .eLKFHh{
        background-image: none;
    }
    .eLKFHh .right{
        display: none !important;
    }
    .btnLogout{
        display: none;
    }
    .btnMyAccount{
        display: none;
    }
    .ai-center{
        flex-direction: column !important;
    }
    .ai-center img{
        width: 150px;
    }
    .button-select-profile{
        display: block;
        width: 100%;
        margin-top:20px;
    }

}
@media (max-width: 320px) {
    
    .option img{
        width: 80px;
    }
    .option label{
        font-size: 16px !important;
    }
    .left h1{
        font-size: 22px !important;
    }
}