button{
    // min-width: 60%;
    // width: 60%;
    // max-width: 270px;
    // height: 2.7rem;
    // text-transform: capitalize;
    // border-radius: 8px;
    // font-size: inherit;
    border: 0px;
    padding: 10px 25px;
    white-space: nowrap;
    &:focus{
        outline: none;
    }
}