input, .input{
    // padding: 4px 8px;
    height: 45px;
    color: #000;
    // border: 1px solid rgba(#000,.25);
    border: 1px solid $grey;
    background-color: #FFF;
    padding: 16px;
    @include borderRadius(6px);    
    @include placeholder(){
        color: $input-placeholder-color;
        // font-size: $input-placeholder-font-size;
    }
    &.invalid{
        border-color: $warn-color;
        @include placeholder(){
            color: $warn-color !important;
        }
    }
    &:focus{
        outline: none;
    }
}