@import './reset.scss';
@import './normalize.scss';

@include font-face($font-avenir,"/fonts/Avenir/AvenirLTStd-Medium", 400, normal, woff);
@include font-face($font-avenir,"/fonts/Avenir/AvenirLTStd-Black", 600, normal, woff);
@include font-face($font-avenir-roman,"/fonts/Avenir/AvenirLTStd-Roman", 400, normal, woff);
// @include font-face($font-primary,"../../assets/fonts/Champagne & Limousines Bold", 600, normal, ttf);
// @include font-face($font-primary,"../../assets/fonts/Champagne & Limousines Bold Italic", 600, italic, ttf);

*{
    box-sizing: border-box;
    @extend .scrollbar;
}

body{
    font-size: $font-size;
    font-family: $font-primary;
    line-height: $global-line-height;
    letter-spacing: $letter-spacing;
    color: $global-color;
}