.modal-wrapper{
}

ion-modal:not(.termsAndConditionsModal) ion-backdrop{
    visibility: visible !important;
}

%modal{
    // font-size: 16px;
    background-color: #FFF;
    // background-image: url('http://157.230.229.87:85/static/imgs/backgrounds/modals_bk.png');
    background-image: url('http://157.230.229.87:85/static/imgs/backgrounds/modal_bottom_bk.png'), url('http://157.230.229.87:85/static/imgs/backgrounds/modal_top_bk.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 90px, 90px;
    background-position: left bottom 5px, right 5px;
    // background-size: 100% 100%;
    // background-position: center;
    // height: 290px !important;
    min-width: 250px !important;
    min-height: 370px !important;
    // position: absolute;
    // left: 50% !important;
    // top: 50% !important;
    // left: calc( 50% - 115px ) !important;
    // top: calc( 50% - 145px ) !important;
    // @include transform(translate(-50%,-50%));
    @include borderRadius(12px);
    .modal-content{
        // font-size: 18px;
        line-height: 1.5;
        color: $primary-color;
    }
    .mat-dialog-container{
        background-color: transparent;
        @include layoutFlex();
        @include directionFlex(column);
        @include justifyContent(center);
    }
}

.rejectWarningModal{
    .modal-wrapper{
        @extend %modal;
    }
}

.rejectReasonSelectModal{
    .modal-wrapper{
        @extend %modal;
    }
}

.continueTransactionOrBackModalComponent{
    .modal-wrapper{
        @extend %modal;
    }
}

.alertModal{
    // .modal-wrapper{
        @extend %modal;
    // }
}

.successfulTransactionModal{
    .modal-wrapper{
        height: 380px !important;
        width: 270px !important;
        top: calc( 50% - 190px ) !important;
        left: calc( 50% - 135px ) !important;
    }
}

.requestWasAcceptedModalComponent{
    .modal-wrapper{
        height: 380px !important;
        top: calc( 50% - 190px ) !important;
    }
}

.opportunityToParticipateModal{
    width: 350px !important;
    .modal-wrapper{
        height: 340px !important;
        top: calc( 50% - 170px ) !important;
    }
}
.requestWasRejectedModalComponent{
    height: 460px !important;
    max-height: none;
    .modal-wrapper{
        // top: calc( 50% - 200px ) !important;
        // background-position: left bottom 1px, right 1px;
    }
}

.quoteAgainModalComponent{
    .modal-wrapper{
        height: 300px !important;
        top: calc( 50% - 150px ) !important;
    }
}

.officeHoursReminderModalComponent{
    .modal-wrapper{
        height: 500px !important;
        width: 270px !important;
        top: calc( 50% - 250px ) !important;
        left: calc( 50% - 135px ) !important;
    }
}

.termsAndConditionsModal{
    // overflow: auto !important;
    max-width: 100vw !important;
    max-height: 100vh !important;
    // max-width: none !important;
}

.youHasBeenSelectedModalComponent{
    width: 330px !important;
}