html {
    scroll-behavior: smooth ;
  }
.container{
    width: 90%
}
.col-md-12 .uppf__fc{
    width: 100%;
}
.select-bank svg{
    display: none;
}
.to-responsive{
    display: none;
}
.arrow-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h1{
    text-align: center;
}
.navigation{
    display: none;
}
.row{
    width: 100%;
}
.col-md-6{
    width: 40%;
}
.col-md-4{
    width: 25%;
}

.col-md-2{
    width: 16.6%;
}
/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    min-height: 200px; /* Should be removed. Only for demonstration */
    text-align: center;
}
.home-flex{
    display: flex;
}
.quare-home{
    background: white;
    
    text-align: center;
    padding:40px;
    color: black;
    border-radius: 10px;
}
.icon-bounce{
    display:flex;
    justify-content: center;
    align-content: center;
}
.bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1.5s infinite linear;
    -o-animation: bounce 1.5s infinite linear;
    -webkit-animation: bounce 1.5s infinite linear;
    animation: bounce 1.5s infinite linear;
    color:000;
    font-size: 40px;
  }
  
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.team-title{
    font-size: 20px;
    font-weight: 600;
}
.tean-subtitle{
    font-size: 10px;
}
.social-media{
    text-align: center;
    margin-top:50px;
    margin-bottom: 50px;
}
.social-media img{
    margin: 5px 15px;
    height: 30px;
}
.section-container{
    max-width: 900px;
    display: flex;
    min-height: 70vh;
    margin: auto;
    padding: 30px;
    max-width: 900px;
    width: 100%;
    align-items: center;

}
.tw-px-8 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.tw-py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.tw-rounded-lg {
    border-radius: 0.5rem !important;
}
.tw-mb-4 {
    margin-bottom: 1rem !important;
}
.tw-flex {
    display: flex !important;
}
.tw-items-center {
    align-items: center !important;
}
.tw-justify-between {
    justify-content: space-between !important;
}
.tw-relative {
    position: relative !important;
}
.section-container-home{
    max-width: 900px;
    display: flex;
    height: 45vh;
    margin: auto;
    padding: 30px;
    max-width: 900px;
    width: 100%;
    align-items: center;

}
.col-md-6{
    width: 50%;
}
.calculator-content{
    border-radius: 25px;
    padding: 40px 60px;
    color: white;
    background-image: url(/images/landing/footer/footer-bg.png);
    background-position: center;
    background-size: 100% 100%;
    text-align: center;
}
.button-save{
    border: 0px;
    padding: 10px 25px;
    white-space: nowrap;
    background-color: #FFF;
    border-radius: 8px;
    color: #0074ff;
}
.text-container h2{
    color:black;
    font-weight: bold;

}
.us-content{
    text-align: left;
}
.pl-100-new{
    padding-left: 100px;
}
.float{
    position:fixed;
	width:60px;
	height:60px;
	bottom:10%;
	right:0px;
	background-color:#FFF;
	color:#a0d063 !important;
    border-radius:10px 0px 0px 10px ;
	text-align:center;
    font-size:30px;
    box-shadow: 1px 4px 15px #999;
    z-index:9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    /* .section__content h2 , p {
        text-align: center!important;
    } */
    .section-center div h2{
        text-align: center;
    }
    .section-center div p{
        text-align: center;
    }
    .pad-as-container {
        padding: 0 24px !important;
    }
    .pl-100-new {
        padding-left: 28px;
        padding-right: 20px;
    }
    .bAXBJV .section__content{
        display: grid;
    }
    .bAXBJV .section__content{
        display: grid;
    }
    .quare-home{
        padding: 30px;
    }
    .bpnTEB .banner-responsive{
        min-height: 115vh;
    }
    .fiXxvN .banner-responsive{
        min-height: 100vh;
    }
    .fiXxvN .yourInfoForm{
        width: 100%;
    }
    .bpnTEB .yourInfoForm{
        width: 100%;
    }
    
}
@media (max-width: 425px) {
   
    .section-container{
        padding: 0px;
    }
    .name-coment{
        padding-left: 50px;
    }
    .chart-payment .arrow-nav{
        padding-right: 10px;
    }
    .chart-payment .tw-text-right{
        text-align: left !important;
    }
    .tw-cursor-pointer img{
        width: 20px !important;
    }
    .flex-content-pay .wpy-btn{
        min-width: 0px;
    }
    .sc-kAzzGY {
        padding: 20px 20px;
    }
    .ljlUzN .uppf__fc{
        width: 100%;
    }
    .ljlUzN .uppf__photos > .photo {
        padding: 10px;
        min-width: 200px;
        max-width: 200px;
    }
    .MuiDialog-paper .wpy-dialog__content{
        padding: 10px 20px!important;
    }
    .payment-pen{
        font-size: 12px !important;
        padding-left: 30px;
    }
    .chart-payment{
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .payment-state{
        font-size: 10px;
    }
    .ftHbTl .signup__right {
        flex: 0 0 100% !important;

    }
    .ftHbTl{
        background-image: none !important;
    }
    .ekMBLS .login__right {
        flex: 0 0 100% !important;
    }
    .ekMBLS{
        background-image: none !important;
    }
    .border-nav{
        border-bottom: 1px solid green;

    }
    .bvcFLG{
        padding:40px 30px !important ;
    }
    .pad-as-container{
        padding: 0 20px !important;
    }
    .flex-nav-none{
        display:none;
    }
    .nav-main-flex{
        font-size:12px;
    }
    .navigation{
        display: block;
    }
    .gdMPSZ .section__content--fitHeight {
        text-align: center ;
    }
    .gdMPSZ .section__left{
        flex: 0 0 100%;
    }
    .gNWmlj .section__left{
        flex: 0 0 100% !important;

    }
    .cnrjPy .section__left{
        flex: 0 0 100% !important;
    }
    .hztAfd .section__left{
        flex: 0 0 100% !important;
    }
    .section__left h2{
        font-size: 24px;
    }
    .home-img img{
        height: 100px;
        width: 100px;
    }
    .hztAfd .section__right{
        display: none;
    }
    .img-login{
        background-image: none !important;
    }
    .ftHbTl .signup__left{
        display: none;
    }
    .ftHbTl .signup__right{
        flex:0 0 100%;
    }
    .mobile-space{
        display: none;
    }
    .dzOiQj .section__right{
        display: none;
    }
    #widget2{
        width: 420px !important;
    }
    .hYwgsH .prueba{
        display: grid;
        padding: 30px;
    }
    .hYwgsH .prueba .section__left{
        padding-right: 0px;
        
    }
    .section__content .section__left{
        flex: 0 0 100% !important;
    }
    .section__content .section__right{
        display: none;
    }
    .cnrjPy .section__left{
        flex: 0 0 100%;
    }
    .space-mobile{
        display: none;
    }
    .fuCaCC .section__content{
        display: grid;
    }
    .section__left {
      text-align: center;
    }
    .section__right {
        margin-top:20px;
    }
    .pl-100-new{
        padding-left:0px ;
        padding-right: 0px;
    }
    .hYwgsH .yourInfoForm{
        width: 90%;
        padding: 20px;
    }
    .bJsNTr .yourInfoForm{
        width: 90%;
        padding: 20px;
    }
    .flex-row-layout.jc-space-between{
        display: block;
    }
    .fill-width{
        text-align: center;
    }
    .mb-20-form{
        margin-bottom: 20px;
    }
    .mb-40-form{
        margin-bottom: 40px;
    }
    .h1-mobile{
        font-size: 20px;
        text-align: center;
    }
    .section-container-home{
        display: block;
        text-align: center;
        height: 80vh;
    }
    .col-md-6{
        width: 100%;
    }
    .container-position{
        margin: 0px;
        margin-top:40px; 
    }
    .space-col{
        padding-bottom: 30px;
    }
    .name-coment{
        text-align: center;
        margin-top: 20px;
    }
    
    .jvfrxP .section__content {
        display: grid;
    }
    .container-withdraw{
        display: grid;
        min-height: 100vh;
        text-align: center;
    }
    .container-detail{
        margin-bottom: 30px;
    }
    .text-container h2{
        text-align: center;
    }
    .text-container p{
        text-align: center;
    } 
    .jvfrxP .section__content--fitHeight h2{
        text-align: center;
    }
    .jvfrxP .section__content--fitHeight p{
        text-align: center;
    }
    .gNWmlj .section__content--fitHeight{
        text-align: center;
    }
    .cnrjPy .section__content--fitHeight{
        text-align: center;
    }
    .input-withdraw{
        width: 100%;
        margin-bottom: 20px;
    }
    .img-banks{
        margin-bottom:30px; 
    }
    .button-withdraw{
        padding-top: 40px;
    }
    .SgIAd .section__content{
        display: grid;
    }
    .section-savemoney{
        display: grid;
        text-align: center;
    }
    .mb-4{
        margin-bottom: 40px;
    }
    .SgIAd .section__content h2{
        text-align: center;
    }
    .SgIAd .section__content p{
        text-align:  center;
    }
    .gdMPSZ .section__content{
        display: grid;
    }
    .column{
        width: 100%;
    }
    .order{
        order:1;
    }
    .flex-row-layout li{
        margin-bottom: 20px;
    }
    .hCAxKS .section__content{
        height: 90vh;
    }
    .jlPsLa .section__right{
        display: none;
    }
    .eLKFHh{
        min-height: 100vh;
        background-image: none !important;
    }
    .eLKFHh .left{
        padding-left: 20px;
        padding-right: 20px;
    }
    .to-responsive{
        display: block;
        width: 100%;
    }
  }
  @media (max-width: 375px) {
    .col-md-6{
        width: 100%;
    }
    
    .input-savemoney{
        width: 80%;
        height: 40px;
    }
    .quare-home{
        padding: 15px;
    }
  }
  @media (max-width: 320px) {
    .name-coment{
        padding-left: 0px;
    }
    #widget2{
        width: 320px !important;
    }
    .calculator-content{
        padding: 40px 20px;
    }
    .nav-trans{
        padding: 0px 20px !important;
    }
    .section-container-home{
        height: 100vh;
    }
  }