.back{
    height: 150px;
    background-attachment: white !important;
    width: 100% !important;
    padding: 20px 20px !important;
    margin-bottom: 40px;
    -webkit-box-shadow: 1px 1px 35px -6px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 1px 35px -6px rgba(0,0,0,0.67);
    box-shadow: 1px 1px 20px -6px rgba(0,0,0,0.67);
    position: relative;
    
}

.container-position{
    position: relative;
}
.carousel .slide{
    background: white !important;
}
.carousel .slide img{
    background-color: white !important;
    width: 50%;
}
.carousel .control-dots .dot{
    background: #0052be !important;
}
.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover {
    opacity: 1;
    height: 15px;
    width: 15px;
}
.name-coment{
    text-align: right;
}
.img-coment{
    width: 95px !important;
    border-radius: 50% !important;
}
.footer-comment{    
    display:flex;
    justify-content: center;
    margin-top:20px;
    
}
.new-img{
    position: absolute;
    bottom: -17%;
    left: 0%;
    z-index: 99;
}
.new-img img{
    position: absolute;
    bottom: -17%;
    left: 0%;
    z-index: 99;
}
.back-comment{
    position: absolute;
    z-index: -1;
    
    top: -15%;
    left: -12%;
}
@media (max-width: 768px) {
    .back{
        height: 200px;
    }
}