.Card_Expansion {
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(12, 12, 12, 0.03);
    background-color: #ffffff;
    margin-bottom: 12px;
    /* cursor: pointer; */
}

.Card_Expansion .Card_Expansion__cardservice {
    color: #626262;
    font-size: 17px;
    font-weight: 100;
}

.Card_Expansion .Card_Expansion__info {
    color: #a2a0a0;
    font-size: 14px;
}

.Card_Expansion .Card_Expansion__date {
    color: #626262;
}

.Card_Expansion .Card_Expansion__requested_amount {
    color: #626262;
    font-size: 21px;
    font-weight: 800;
}

.Card_Expansion .Card_Expansion__status {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.Card_Expansion .Card_Expansion__status img {
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 4px;
    width: 18px;
}

.Card_Expansion .Card_Expansion__msg{
    margin-top: 3px;
}
.Card_Expansion .Card_Expansion__msg span{
    color: #659ae0;
    font-size: 14px;
}

.Card_Expansion .Card_Expansion__btn{
    display: block;
    color: #fff;
    background: #333f88;
    font-size: 14px;
    border-radius: 8px;
    display: block;
    padding: 5px 20px;
}

@media (max-width: 768px){
    .Card_Expansion{
        padding: 20px 10px;
    }
}