.#{$namespace}-btn{
    color: #ffffff;
    padding: 10px 15px;
    background-color: $accent-color;
    border: 1px solid $accent-color;
    font-size: $btn-font-size;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.14px;
    min-width: 170px;
    cursor: pointer;
    @include borderRadius(6px);
    &:not(.#{$namespace}-btn--text){
        background-color: $accent-color;
        border-color: $accent-color;
    }
    &.#{$namespace}-btn--text{
        background-color: transparent;
        border-color: transparent;
        color: $accent-color;
    }
    &--primary{
        &:not(.#{$namespace}-btn--text){
            background-color: $primary-color;
            border-color: $primary-color;
        }
        &.#{$namespace}-btn--text{
            background-color: transparent;
            border-color: transparent;
            color: $primary-color;
        }
    }
    &--warn{
        &:not(.#{$namespace}-btn--text){
            background-color: $warn-color;
            border-color: $warn-color;
        }
        &.#{$namespace}-btn--text{
            background-color: transparent;
            border-color: transparent;
            color: $warn-color;
        }
    }
    &:disabled{
        background-color: #eeeeee;
        color: #999c9e;
        border-color: #eeeeee
    }
    &:focus{
        outline: none;
    }
    &--rounded{
        @include borderRadius(20px);
    }
}