.form-input{
    &.required{
        position: relative;
        &::after{
            content: '';
            // background-color: rgba(#000, .2);
            // @include borderRadius(5px);
            top: 50%;
            right: 10px;
            height: 10px;
            width: 10px;
            position: absolute;
            @include transform(translateY(-50%));
            background-image: url('http://157.230.229.87:85/static/imgs/icons/asterisk.png');
            background-position: center;
            background-size: contain; 
        }
        input{
            padding-right: 20px;
        }
    }
    &.invalid{        
        input{
            border-color: #f44336 !important;
            @include placeholder(){
                color: #f44336 !important;
                // font-weight: bold;
            }
        }
        // &::after{
        //     background-image: url('http://157.230.229.87:85/static/imgs/icons/asterisk--invalid.png');
        // }
    }
    &.select-field{
        position: relative;
        .select-field__trigger{
            cursor: pointer;
            position: absolute;
            right: 6px;
            top: 10%;
            height: 80%;
            background-image: url('http://157.230.229.87:85/static/imgs/web/icons/down-arrow--orange.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 25px;
        }
    }
    .input-prefix{
        color: $primary-color;
        font-weight: bold;
    }
}