.#{$namespace}-header{
    &-1{
        font-size: $header1-font-size;
    }
    &-2{
        font-size: $header2-font-size;       
    }
    &-3{
        font-size: $header3-font-size;       
    }
    &-4{
        font-size: $header4-font-size;       
    }
    &-5{
        font-size: $header5-font-size;       
    }
    &-6{
        font-size: $header6-font-size;       
    }
}